/* App.css */
.App {
  text-align: center;
  position: relative;
}

header {
  background-color: #f8f8f8;
  padding: 20px;
}

header img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

button {
  margin-top: 10px;
  color: rgb(17, 159, 247);
}


